/* footer - contact */
.contact {
    margin-top: 2rem;
    padding: 200px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #23252F;
  }

/* .contact__wrapper {
  padding-top: 3rem;
} */

#contact__title {
  align-items: center;
  margin-bottom: 3.5rem;
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;

    /* glowing white shadow */
    border-radius: 11px;
    box-shadow: 0 6px 20px;
    padding: 20px;
    margin: 10px;
    width: 11.875rem;
    height: 11.25rem;
    /* end of glowing white shadow */

    /* border-radius: 11px;
    box-shadow: 0 6px 20px; */
  }

.contact__wallpaper {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100vh;
  background-color: #23252F;
}
  
  .contact h1 h2 {
    margin-bottom: var(--bottom-margin-2);
  }
  
  #contact__container {
    /* display: flex; */
    padding: 1rem;
    display: inline-block -moz-grid-line;
    position: relative;
    text-align: center;
    align-items: center;
    width: 750px;
    overflow-y: auto;
  }
  
  .button__contact {
    width: 180px;
    height: 50px;
    margin: 15px;
    display: inline-block;

    border-radius: 11px;
    box-shadow: 0 6px 20px;
  }
  
   #contact__btn__one {
    /* background: #000000;
    /* background: linear-gradient(to right, #fff6a2, #00fff0); */
    border: none;
    border-radius: 8px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    text-decoration: none;
  } 
  
  #contact__btn__two {
    /* background: #000000; */
    /* background: linear-gradient(to right, #8a8879, #a100ff, #f9d00f); */
    border: none;
    border-radius: 8px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    text-decoration: none;
  }
  
  #contact__btn__three {
    /* background: #000000; */
    /* background: linear-gradient(to right, #fc8a15, #f9d00f); */
    border: none;
    border-radius: 8px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    text-decoration: none;
  } 
  
  /* END OF CONTACT */

  .contact__gridAlpha {
    display: grid;
    justify-content: center;
    align-content: center;
  
    gap: 4px;
    grid-auto-flow: column;
  }


  .contact__gridBeta {
    display: grid;
    justify-content: center;
    align-content: center;
  
    gap: 4px;
    grid-auto-flow: column;
  }

  button {
    font-weight: bold;
  }