/* Skills */
.skills{
  /* max-width: 68.75rem; */
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  background-color: #23252F;

  height: 100vh;
}

.skills {
  padding: 200px 0;
}


.skills__header {
  margin-bottom: 3.5rem;
}

.skill__container{
  margin-bottom: 1rem;
  padding: 1.25rem;
}

.skills__wrapper img {
  padding: 1.25rem;
}

/* horizontal layout START */
.skill__alphaColumn{
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 4px;
  grid-auto-flow: column;
}
.skill__betaColumn{
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 4px;
  grid-auto-flow: column;
}
/* horizontal layout END */

.box {
  /* background-color: #fff; */
  border-radius: 11px;
  box-shadow: 0 6px 20px;
  padding: 20px;
  margin: 10px;

  width: 11.875rem;
  height: 11.25rem;
}

/* each white box START*/
.skill__icon {
  margin: 2px;



  
}
/* each white box  END*/

