/* Skills */
.skills{
  /* max-width: 68.75rem; */
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skills {
  padding: 200px 0;
}


.skills__header {
  margin-top: 1rem;
}

.skill__container{
  margin-bottom: 1rem;
  padding: 1.25rem;
}

.skills__wrapper img {
  padding: 1.25rem;
}

.skill__alphaColumn{
  padding: 1.25rem;
}
.skill__betaColumn{
  padding: 0.50rem;
}

.box {
  width: 11.875rem;
  height: 11.25rem;
}

.skill__box {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 6px 20px;
  padding: 20px;
  margin: 10px;
}

.fab {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 6px 20px;
  padding: 20px;
  margin: 10px;
}


/* END OF skills  */